/* fontes */
@import url("https://use.typekit.net/agu0lai.css");

@import url("https://use.typekit.net/agu0lai.css");

@import url("https://use.typekit.net/agu0lai.css");
/* fonts end */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor1: #D9D9D9;
  --cor2: #A6A6A6;
  --cor3: #737373;
  --cor4: #595959;
  --cor5: #262626;
  --font-paragrafo: "area-normal", sans-serif;
  --font-titulo: "viktor-script", Arial, Verdana, sans-serif;
  --font-subtitulo: "omnes-pro", sans-serif;
}

body {
  background-color: var(--cor1);
  height: 100vh;

  
}

/* cabeçalho */

header {
  position: relative;
  background-color: var(--cor1);
  background-image: url('../imagens/Firefly\ imagem\ em\ preto\ e\ branco\,\ pessoas\ felizes\,\ praia\ 48322.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 600px;
}

header > h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-titulo);
  font-size: 10vw;
  font-weight: normal;
  color: var(--cor1);
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.334);
  background-color: var(--cor2);
  padding: 10px;
  
  
}

/* fim cabeçalho */

/* Navbar */

nav  {
  position: fixed;
  background-color: var(--cor2);
  left: 0px;
  top: -1px;
  padding: 5px;
  width: 100%;
  z-index: 1;
  text-align: center;

}

nav > a {
  font-size: 1em;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-family: verdana;
  font-size: 12px;
  
}

nav > a:hover {
  color: var(--cor4);
}

/* fim navebar */

/* conteúdo principal */

main {
  background-color: var(--cor1); 
  
}
  
  


section > article > h1 {
  font-family: var(--font-subtitulo);
  font-weight: bolder;
  padding: 20px;
}

section p {
  font-family: var(--font-paragrafo);
  font-weight: lighter;
  
}

section#futebol, #famosos, #culinaria, #carros, #bolsa-valores, #filme {
  background-color: white;
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px;
  text-align: justify;
  border-left: 5px solid #bfbfbf;
  box-shadow: 0px 1px 2px #00000051;
  max-width: 400px;
  max-height: 400px;
  border-radius: 1px 10px 1px 10px;
}

article > h1 {
  font-size: 2em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.19);
  
}

/* fim conteúdo principal */

/* Seção 2, sobre , marcadores...  */

.section-2 {
   font-family: var(--font-paragrafo);
   
}


.section-2 > aside {
  position: absolute;
  right: -0px;
  top: 620px;
 
}

.section-2 > aside > p {
  margin-top: -3px;
  font-weight: bolder;
  line-height: 20px;
  background-color: white;

  
}

section img {
  max-width: 40%;
  display: inline-block;
  position: sticky;
  left: 10%;
  right: 10%;
  margin-top: -900px;
  transform: translate(50%, 50%);
  
}


