@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
  position: relative;
  background-image: url('../imagens/header.gif');
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  z-index: 1;

}

header > h1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkred;
  font-size: 7em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

header > h2 {
  position: absolute;
  top: 66%;
  left: 60%;
  transform: translate(-66px, -60%);
  color: rgb(203, 19, 19);
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

nav {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  text-align: center;
}

nav > a {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #3D2626;
  font-weight: bolder;
  margin: 10px;
  padding-right: 30px;
}
a:hover {
  color: darkred;
  transition: ease-in-out 0.3s;
}

a::after {
  content: " ";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 0%;
  height: 2px;
  transition: 0.5s ease;
  background-color: darkred;

}

nav > a:hover::after {
  width: 100%;
}


main {
  max-width: 790px;
  background-color: #3D2626;
  margin: auto;
  outline: auto;
  z-index: 2;

}

main > article {
  padding: 10px;
}
