@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
}

header {

  background-image: url('../imagens/header.png');
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
}

.container {
  background-color: black;
}

div img {
  position: absolute;
  top: 3%;
  left: 3%;
  transform: translate(-3%, -3%);
  width: 50%;


}