@charset "UTF-8";

@import url("https://use.typekit.net/agu0lai.css");

@import url("https://use.typekit.net/agu0lai.css");
* {
  margin: 0px;
  padding: 0px;
}

:root {
  --cor1: #F2F2F2;
  --cor2: #D7D9D9;
  --cor3: #6D90A6;
  --cor4: #1C2026;
  --font-titulo: "brevia", Arial, Helvetica, sans-serif;
  --font-paragrafo: "vista-sans", sans-serif;
}

html, body {
  min-height: 100vh;
  background-color: var(--cor4);
}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
  padding: 50px 0px 50px 0px;
  text-align: center;
}

header > h1 {
  color: var(--cor1);
  font-family: var(--font-titulo);
  font-size: 10vw;
  text-shadow: 1px 2px 3px #0000005c;
}

nav {
  background-color: var(--cor1);
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;
  font-family: var(--font-paragrafo);
  font-weight: bolder;
  box-shadow: 0px -10px 50px #0000003b;
}

nav > a {
  color: var(--cor4);
  text-decoration: none;
  padding-right: 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
}

main {
  background-color: var(--cor1);
  padding: 50px 20px;
}

main > section {
  padding: 10vw;
  text-indent: 10px;
  color: var(--cor4);
  font-size: 2.5vw;
  line-height: 2em;
  background-attachment: fixed;
  
}

main > section.texto {
  font-family: var(--font-paragrafo);
}

main > section.imagem {
  background-color: var(--cor4);
  margin-left: -20px;
  margin-right: -20px;
}

main > section.imagem > p {
  background-color: var(--cor1);
  display: inline-block;
  font-family: var(--font-paragrafo);
  padding: 20px;
  line-height: 2em;
  padding: 20px;
}

section#img1 {
  background-image:;
}
