@charset "UTF-8";

@import url("https://use.typekit.net/agu0lai.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --1: #fff;
  --2: #000;
  --3: #e26200;

  --font: "shlop", sans-serif;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

header {
  position: relative;
  background-image: url('../imagens/Firefly\ horror\,\ halloween\ 67177.jpg');
  background-size: cover;
  min-height: 100vh;
  background-position: top center;

}

header > h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  color: var(--1);
  text-shadow: 4px 2px 2px #ff6600;
  font-family: var(--font);
  letter-spacing: 5px;
  font-variant: small-caps;
  
}

nav {
  position: sticky;
  left: -30%;
  right: 60%;
  top: -100%;
  transform: translate(-60%, -0%, -50%);

}

nav > a {
  text-decoration: none;
  color: var(--3);
  text-shadow: 1px 2px 1px #000000;
}



